{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "description": "The HDInsight Management Client.",
        "title": "HDInsightManagementClient",
        "version": "2018-06-01-preview",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2018-06-01-preview/cluster.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "hdinsight-cluster",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/clusters": {
            "get": {
                "description": "Lists all the HDInsight clusters under the subscription.",
                "operationId": "Clusters_List",
                "parameters": [
                    {
                        "description": "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The HDInsight client API Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK response definition.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The List Cluster operation response.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The link (url) to the next page of results.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "The list of Clusters.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "allOf": [
                                                            {
                                                                "description": "The core properties of ARM resources",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "Fully qualified resource Id for the resource.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "description": "The name of the resource",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "description": "The type of the resource.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "x-ms-azure-resource": true,
                                                                "type": "object"
                                                            }
                                                        ],
                                                        "description": "The resource model definition for a ARM tracked top level resource",
                                                        "properties": {
                                                            "location": {
                                                                "description": "The Azure Region where the resource lives",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "read",
                                                                    "create"
                                                                ]
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "Resource tags.",
                                                                "type": "object",
                                                                "x-ms-mutability": [
                                                                    "read",
                                                                    "create",
                                                                    "update"
                                                                ]
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "The HDInsight cluster.",
                                                "properties": {
                                                    "etag": {
                                                        "description": "The ETag for the resource",
                                                        "type": "string"
                                                    },
                                                    "identity": {
                                                        "description": "The identity of the cluster, if configured.",
                                                        "properties": {
                                                            "principalId": {
                                                                "description": "The principal id of cluster identity. This property will only be provided for a system assigned identity.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tenantId": {
                                                                "description": "The tenant id associated with the cluster. This property will only be provided for a system assigned identity.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "description": "The type of identity used for the cluster. The type 'SystemAssigned, UserAssigned' includes both an implicitly created identity and a set of user assigned identities.",
                                                                "enum": [
                                                                    "SystemAssigned",
                                                                    "UserAssigned",
                                                                    "SystemAssigned, UserAssigned",
                                                                    "None"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": false,
                                                                    "name": "ResourceIdentityType"
                                                                }
                                                            },
                                                            "userAssignedIdentities": {
                                                                "additionalProperties": {
                                                                    "properties": {
                                                                        "clientId": {
                                                                            "description": "The client id of user assigned identity.",
                                                                            "readOnly": true,
                                                                            "type": "string"
                                                                        },
                                                                        "principalId": {
                                                                            "description": "The principal id of user assigned identity.",
                                                                            "readOnly": true,
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "description": "The list of user identities associated with the cluster. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'.",
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "properties": {
                                                        "description": "The properties of the cluster.",
                                                        "properties": {
                                                            "clusterDefinition": {
                                                                "description": "The cluster definition.",
                                                                "properties": {
                                                                    "blueprint": {
                                                                        "description": "The link to the blueprint.",
                                                                        "type": "string"
                                                                    },
                                                                    "componentVersion": {
                                                                        "additionalProperties": {
                                                                            "type": "string"
                                                                        },
                                                                        "description": "The versions of different services in the cluster.",
                                                                        "type": "object"
                                                                    },
                                                                    "configurations": {
                                                                        "description": "The cluster configurations.",
                                                                        "type": "object"
                                                                    },
                                                                    "kind": {
                                                                        "description": "The type of cluster.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "clusterState": {
                                                                "description": "The state of the cluster.",
                                                                "type": "string"
                                                            },
                                                            "clusterVersion": {
                                                                "description": "The version of the cluster.",
                                                                "type": "string"
                                                            },
                                                            "computeProfile": {
                                                                "description": "The compute profile.",
                                                                "properties": {
                                                                    "roles": {
                                                                        "description": "The list of roles in the cluster.",
                                                                        "items": {
                                                                            "description": "Describes a role on the cluster.",
                                                                            "properties": {
                                                                                "dataDisksGroups": {
                                                                                    "description": "The data disks groups for the role.",
                                                                                    "items": {
                                                                                        "description": "The data disks groups for the role.",
                                                                                        "properties": {
                                                                                            "diskSizeGB": {
                                                                                                "description": "ReadOnly. The DiskSize in GB. Do not set this value.",
                                                                                                "readOnly": true,
                                                                                                "type": "integer"
                                                                                            },
                                                                                            "disksPerNode": {
                                                                                                "description": "The number of disks per node.",
                                                                                                "format": "int32",
                                                                                                "type": "integer"
                                                                                            },
                                                                                            "storageAccountType": {
                                                                                                "description": "ReadOnly. The storage account type. Do not set this value.",
                                                                                                "readOnly": true,
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "type": "object"
                                                                                    },
                                                                                    "type": "array"
                                                                                },
                                                                                "hardwareProfile": {
                                                                                    "description": "The hardware profile.",
                                                                                    "properties": {
                                                                                        "vmSize": {
                                                                                            "description": "The size of the VM",
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "minInstanceCount": {
                                                                                    "description": "The minimum instance count of the cluster.",
                                                                                    "format": "int32",
                                                                                    "type": "integer"
                                                                                },
                                                                                "name": {
                                                                                    "description": "The name of the role.",
                                                                                    "type": "string"
                                                                                },
                                                                                "osProfile": {
                                                                                    "description": "The operating system profile.",
                                                                                    "properties": {
                                                                                        "linuxOperatingSystemProfile": {
                                                                                            "description": "The Linux OS profile.",
                                                                                            "properties": {
                                                                                                "password": {
                                                                                                    "description": "The password.",
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "sshProfile": {
                                                                                                    "description": "The SSH profile.",
                                                                                                    "properties": {
                                                                                                        "publicKeys": {
                                                                                                            "description": "The list of SSH public keys.",
                                                                                                            "items": {
                                                                                                                "description": "The SSH public key for the cluster nodes.",
                                                                                                                "properties": {
                                                                                                                    "certificateData": {
                                                                                                                        "description": "The certificate for SSH.",
                                                                                                                        "type": "string"
                                                                                                                    }
                                                                                                                },
                                                                                                                "type": "object"
                                                                                                            },
                                                                                                            "type": "array"
                                                                                                        }
                                                                                                    },
                                                                                                    "type": "object"
                                                                                                },
                                                                                                "username": {
                                                                                                    "description": "The username.",
                                                                                                    "type": "string"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "scriptActions": {
                                                                                    "description": "The list of script actions on the role.",
                                                                                    "items": {
                                                                                        "description": "Describes a script action on role on the cluster.",
                                                                                        "properties": {
                                                                                            "name": {
                                                                                                "description": "The name of the script action.",
                                                                                                "type": "string"
                                                                                            },
                                                                                            "parameters": {
                                                                                                "description": "The parameters for the script provided.",
                                                                                                "type": "string"
                                                                                            },
                                                                                            "uri": {
                                                                                                "description": "The URI to the script.",
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "required": [
                                                                                            "name",
                                                                                            "uri",
                                                                                            "parameters"
                                                                                        ],
                                                                                        "type": "object"
                                                                                    },
                                                                                    "type": "array"
                                                                                },
                                                                                "targetInstanceCount": {
                                                                                    "description": "The instance count of the cluster.",
                                                                                    "format": "int32",
                                                                                    "type": "integer"
                                                                                },
                                                                                "virtualNetworkProfile": {
                                                                                    "description": "The virtual network profile.",
                                                                                    "properties": {
                                                                                        "id": {
                                                                                            "description": "The ID of the virtual network.",
                                                                                            "type": "string"
                                                                                        },
                                                                                        "subnet": {
                                                                                            "description": "The name of the subnet.",
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "connectivityEndpoints": {
                                                                "description": "The list of connectivity endpoints.",
                                                                "items": {
                                                                    "description": "The connectivity properties",
                                                                    "properties": {
                                                                        "location": {
                                                                            "description": "The location of the endpoint.",
                                                                            "type": "string"
                                                                        },
                                                                        "name": {
                                                                            "description": "The name of the endpoint.",
                                                                            "type": "string"
                                                                        },
                                                                        "port": {
                                                                            "description": "The port to connect to.",
                                                                            "format": "int32",
                                                                            "type": "integer"
                                                                        },
                                                                        "protocol": {
                                                                            "description": "The protocol of the endpoint.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "createdDate": {
                                                                "description": "The date on which the cluster was created.",
                                                                "type": "string"
                                                            },
                                                            "diskEncryptionProperties": {
                                                                "description": "The disk encryption properties.",
                                                                "properties": {
                                                                    "encryptionAlgorithm": {
                                                                        "description": "Algorithm identifier for encryption, default RSA-OAEP.",
                                                                        "enum": [
                                                                            "RSA-OAEP",
                                                                            "RSA-OAEP-256",
                                                                            "RSA1_5"
                                                                        ],
                                                                        "type": "string",
                                                                        "x-ms-enum": {
                                                                            "modelAsString": true,
                                                                            "name": "JsonWebKeyEncryptionAlgorithm"
                                                                        }
                                                                    },
                                                                    "keyName": {
                                                                        "description": "Key name that is used for enabling disk encryption.",
                                                                        "type": "string"
                                                                    },
                                                                    "keyVersion": {
                                                                        "description": "Specific key version that is used for enabling disk encryption.",
                                                                        "type": "string"
                                                                    },
                                                                    "msiResourceId": {
                                                                        "description": "Resource ID of Managed Identity that is used to access the key vault.",
                                                                        "type": "string"
                                                                    },
                                                                    "vaultUri": {
                                                                        "description": "Base key vault URI where the customers key is located eg. https://myvault.vault.azure.net",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "errors": {
                                                                "description": "The list of errors.",
                                                                "items": {
                                                                    "description": "The error message associated with the cluster creation.",
                                                                    "properties": {
                                                                        "code": {
                                                                            "description": "The error code.",
                                                                            "type": "string"
                                                                        },
                                                                        "message": {
                                                                            "description": "The error message.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "osType": {
                                                                "description": "The type of operating system.",
                                                                "enum": [
                                                                    "Windows",
                                                                    "Linux"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": false,
                                                                    "name": "OSType"
                                                                }
                                                            },
                                                            "provisioningState": {
                                                                "description": "The provisioning state, which only appears in the response.",
                                                                "enum": [
                                                                    "InProgress",
                                                                    "Failed",
                                                                    "Succeeded",
                                                                    "Canceled",
                                                                    "Deleting"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": false,
                                                                    "name": "HDInsightClusterProvisioningState"
                                                                }
                                                            },
                                                            "quotaInfo": {
                                                                "description": "The quota information.",
                                                                "properties": {
                                                                    "coresUsed": {
                                                                        "description": "The cores used by the cluster.",
                                                                        "format": "int32",
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "securityProfile": {
                                                                "description": "The security profile.",
                                                                "properties": {
                                                                    "aaddsResourceId": {
                                                                        "description": "The resource ID of the user's Azure Active Directory Domain Service.",
                                                                        "type": "string"
                                                                    },
                                                                    "clusterUsersGroupDNs": {
                                                                        "description": "Optional. The Distinguished Names for cluster user groups",
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "directoryType": {
                                                                        "description": "The directory type.",
                                                                        "enum": [
                                                                            "ActiveDirectory"
                                                                        ],
                                                                        "type": "string",
                                                                        "x-ms-enum": {
                                                                            "modelAsString": false,
                                                                            "name": "DirectoryType"
                                                                        }
                                                                    },
                                                                    "domain": {
                                                                        "description": "The organization's active directory domain.",
                                                                        "type": "string"
                                                                    },
                                                                    "domainUserPassword": {
                                                                        "description": "The domain admin password.",
                                                                        "format": "password",
                                                                        "type": "string"
                                                                    },
                                                                    "domainUsername": {
                                                                        "description": "The domain user account that will have admin privileges on the cluster.",
                                                                        "type": "string"
                                                                    },
                                                                    "ldapsUrls": {
                                                                        "description": "The LDAPS protocol URLs to communicate with the Active Directory.",
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "msiResourceId": {
                                                                        "description": "User assigned identity that has permissions to read and create cluster-related artifacts in the user's AADDS.",
                                                                        "type": "string"
                                                                    },
                                                                    "organizationalUnitDN": {
                                                                        "description": "The organizational unit within the Active Directory to place the cluster and service accounts.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "tier": {
                                                                "description": "The cluster tier.",
                                                                "enum": [
                                                                    "Standard",
                                                                    "Premium"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": false,
                                                                    "name": "Tier"
                                                                }
                                                            }
                                                        },
                                                        "required": [
                                                            "clusterDefinition"
                                                        ]
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Describes the format of Error response.",
                                    "properties": {
                                        "code": {
                                            "description": "Error code",
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "Error message indicating why the operation failed.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Clusters"
                ],
                "x-ms-examples": {
                    "Get All Hadoop on Linux clusters": {
                        "parameters": {
                            "api-version": "2018-06-01-preview",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "etag": "f0212a39-b827-45e0-9ffa-4f5232e58851",
                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1",
                                            "location": "West US",
                                            "name": "cluster1",
                                            "properties": {
                                                "clusterDefinition": {
                                                    "blueprint": "https://blueprints.azurehdinsight.net/hadoop-3.5.1000.0.9243893.json",
                                                    "kind": "hadoop"
                                                },
                                                "clusterState": "Running",
                                                "clusterVersion": "3.5.1000.0",
                                                "computeProfile": {
                                                    "roles": [
                                                        {
                                                            "hardwareProfile": {
                                                                "vmSize": "Standard_D3_V2"
                                                            },
                                                            "name": "headnode",
                                                            "osProfile": {
                                                                "linuxOperatingSystemProfile": {
                                                                    "username": "pulkitssh"
                                                                }
                                                            },
                                                            "targetInstanceCount": 2
                                                        },
                                                        {
                                                            "hardwareProfile": {
                                                                "vmSize": "Standard_D3_V2"
                                                            },
                                                            "name": "workernode",
                                                            "osProfile": {
                                                                "linuxOperatingSystemProfile": {
                                                                    "username": "pulkitssh"
                                                                }
                                                            },
                                                            "targetInstanceCount": 4
                                                        },
                                                        {
                                                            "hardwareProfile": {
                                                                "vmSize": "Medium"
                                                            },
                                                            "name": "zookeepernode",
                                                            "osProfile": {
                                                                "linuxOperatingSystemProfile": {
                                                                    "username": "pulkitssh"
                                                                }
                                                            },
                                                            "targetInstanceCount": 3
                                                        }
                                                    ]
                                                },
                                                "connectivityEndpoints": [
                                                    {
                                                        "location": "cluster1-ssh.azurehdinsight.net",
                                                        "name": "SSH",
                                                        "port": 22,
                                                        "protocol": "TCP"
                                                    },
                                                    {
                                                        "location": "cluster1.azurehdinsight.net",
                                                        "name": "HTTPS",
                                                        "port": 443,
                                                        "protocol": "TCP"
                                                    }
                                                ],
                                                "createdDate": "2017-01-11T18:58:26.187",
                                                "osType": "Linux",
                                                "provisioningState": "Succeeded",
                                                "quotaInfo": {
                                                    "coresUsed": 24
                                                },
                                                "tier": "Standard"
                                            },
                                            "tags": {
                                                "key1": "val1"
                                            },
                                            "type": "Microsoft.HDInsight/clusters"
                                        },
                                        {
                                            "etag": "f0212a39-b827-45e0-9ffa-4f5232e58851",
                                            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster2",
                                            "location": "West US",
                                            "name": "cluster2",
                                            "properties": {
                                                "clusterDefinition": {
                                                    "blueprint": "https://blueprints.azurehdinsight.net/hadoop-3.5.1000.0.9243893.json",
                                                    "kind": "hadoop"
                                                },
                                                "clusterState": "Running",
                                                "clusterVersion": "3.5.1000.0",
                                                "computeProfile": {
                                                    "roles": [
                                                        {
                                                            "hardwareProfile": {
                                                                "vmSize": "Standard_D3_V2"
                                                            },
                                                            "name": "headnode",
                                                            "osProfile": {
                                                                "linuxOperatingSystemProfile": {
                                                                    "username": "pulkitssh"
                                                                }
                                                            },
                                                            "targetInstanceCount": 2
                                                        },
                                                        {
                                                            "hardwareProfile": {
                                                                "vmSize": "Standard_D3_V2"
                                                            },
                                                            "name": "workernode",
                                                            "osProfile": {
                                                                "linuxOperatingSystemProfile": {
                                                                    "username": "pulkitssh"
                                                                }
                                                            },
                                                            "targetInstanceCount": 4
                                                        },
                                                        {
                                                            "hardwareProfile": {
                                                                "vmSize": "Medium"
                                                            },
                                                            "name": "zookeepernode",
                                                            "osProfile": {
                                                                "linuxOperatingSystemProfile": {
                                                                    "username": "pulkitssh"
                                                                }
                                                            },
                                                            "targetInstanceCount": 3
                                                        }
                                                    ]
                                                },
                                                "connectivityEndpoints": [
                                                    {
                                                        "location": "cluster2-ssh.azurehdinsight.net",
                                                        "name": "SSH",
                                                        "port": 22,
                                                        "protocol": "TCP"
                                                    },
                                                    {
                                                        "location": "cluster2.azurehdinsight.net",
                                                        "name": "HTTPS",
                                                        "port": 443,
                                                        "protocol": "TCP"
                                                    }
                                                ],
                                                "createdDate": "2017-01-11T18:58:26.187",
                                                "osType": "Linux",
                                                "provisioningState": "Succeeded",
                                                "quotaInfo": {
                                                    "coresUsed": 24
                                                },
                                                "tier": "Standard"
                                            },
                                            "tags": {
                                                "key1": "val1"
                                            },
                                            "type": "Microsoft.HDInsight/clusters"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters": {
            "get": {
                "description": "Lists the HDInsight clusters in a resource group.",
                "operationId": "Clusters_ListByResourceGroup",
                "parameters": [
                    {
                        "description": "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The HDInsight client API Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK response definition.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The List Cluster operation response.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The link (url) to the next page of results.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "The list of Clusters.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "allOf": [
                                                            {
                                                                "description": "The core properties of ARM resources",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "Fully qualified resource Id for the resource.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "description": "The name of the resource",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "description": "The type of the resource.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "x-ms-azure-resource": true,
                                                                "type": "object"
                                                            }
                                                        ],
                                                        "description": "The resource model definition for a ARM tracked top level resource",
                                                        "properties": {
                                                            "location": {
                                                                "description": "The Azure Region where the resource lives",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "read",
                                                                    "create"
                                                                ]
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "Resource tags.",
                                                                "type": "object",
                                                                "x-ms-mutability": [
                                                                    "read",
                                                                    "create",
                                                                    "update"
                                                                ]
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "The HDInsight cluster.",
                                                "properties": {
                                                    "etag": {
                                                        "description": "The ETag for the resource",
                                                        "type": "string"
                                                    },
                                                    "identity": {
                                                        "description": "The identity of the cluster, if configured.",
                                                        "properties": {
                                                            "principalId": {
                                                                "description": "The principal id of cluster identity. This property will only be provided for a system assigned identity.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tenantId": {
                                                                "description": "The tenant id associated with the cluster. This property will only be provided for a system assigned identity.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "description": "The type of identity used for the cluster. The type 'SystemAssigned, UserAssigned' includes both an implicitly created identity and a set of user assigned identities.",
                                                                "enum": [
                                                                    "SystemAssigned",
                                                                    "UserAssigned",
                                                                    "SystemAssigned, UserAssigned",
                                                                    "None"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": false,
                                                                    "name": "ResourceIdentityType"
                                                                }
                                                            },
                                                            "userAssignedIdentities": {
                                                                "additionalProperties": {
                                                                    "properties": {
                                                                        "clientId": {
                                                                            "description": "The client id of user assigned identity.",
                                                                            "readOnly": true,
                                                                            "type": "string"
                                                                        },
                                                                        "principalId": {
                                                                            "description": "The principal id of user assigned identity.",
                                                                            "readOnly": true,
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "description": "The list of user identities associated with the cluster. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'.",
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "properties": {
                                                        "description": "The properties of the cluster.",
                                                        "properties": {
                                                            "clusterDefinition": {
                                                                "description": "The cluster definition.",
                                                                "properties": {
                                                                    "blueprint": {
                                                                        "description": "The link to the blueprint.",
                                                                        "type": "string"
                                                                    },
                                                                    "componentVersion": {
                                                                        "additionalProperties": {
                                                                            "type": "string"
                                                                        },
                                                                        "description": "The versions of different services in the cluster.",
                                                                        "type": "object"
                                                                    },
                                                                    "configurations": {
                                                                        "description": "The cluster configurations.",
                                                                        "type": "object"
                                                                    },
                                                                    "kind": {
                                                                        "description": "The type of cluster.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "clusterState": {
                                                                "description": "The state of the cluster.",
                                                                "type": "string"
                                                            },
                                                            "clusterVersion": {
                                                                "description": "The version of the cluster.",
                                                                "type": "string"
                                                            },
                                                            "computeProfile": {
                                                                "description": "The compute profile.",
                                                                "properties": {
                                                                    "roles": {
                                                                        "description": "The list of roles in the cluster.",
                                                                        "items": {
                                                                            "description": "Describes a role on the cluster.",
                                                                            "properties": {
                                                                                "dataDisksGroups": {
                                                                                    "description": "The data disks groups for the role.",
                                                                                    "items": {
                                                                                        "description": "The data disks groups for the role.",
                                                                                        "properties": {
                                                                                            "diskSizeGB": {
                                                                                                "description": "ReadOnly. The DiskSize in GB. Do not set this value.",
                                                                                                "readOnly": true,
                                                                                                "type": "integer"
                                                                                            },
                                                                                            "disksPerNode": {
                                                                                                "description": "The number of disks per node.",
                                                                                                "format": "int32",
                                                                                                "type": "integer"
                                                                                            },
                                                                                            "storageAccountType": {
                                                                                                "description": "ReadOnly. The storage account type. Do not set this value.",
                                                                                                "readOnly": true,
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "type": "object"
                                                                                    },
                                                                                    "type": "array"
                                                                                },
                                                                                "hardwareProfile": {
                                                                                    "description": "The hardware profile.",
                                                                                    "properties": {
                                                                                        "vmSize": {
                                                                                            "description": "The size of the VM",
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "minInstanceCount": {
                                                                                    "description": "The minimum instance count of the cluster.",
                                                                                    "format": "int32",
                                                                                    "type": "integer"
                                                                                },
                                                                                "name": {
                                                                                    "description": "The name of the role.",
                                                                                    "type": "string"
                                                                                },
                                                                                "osProfile": {
                                                                                    "description": "The operating system profile.",
                                                                                    "properties": {
                                                                                        "linuxOperatingSystemProfile": {
                                                                                            "description": "The Linux OS profile.",
                                                                                            "properties": {
                                                                                                "password": {
                                                                                                    "description": "The password.",
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "sshProfile": {
                                                                                                    "description": "The SSH profile.",
                                                                                                    "properties": {
                                                                                                        "publicKeys": {
                                                                                                            "description": "The list of SSH public keys.",
                                                                                                            "items": {
                                                                                                                "description": "The SSH public key for the cluster nodes.",
                                                                                                                "properties": {
                                                                                                                    "certificateData": {
                                                                                                                        "description": "The certificate for SSH.",
                                                                                                                        "type": "string"
                                                                                                                    }
                                                                                                                },
                                                                                                                "type": "object"
                                                                                                            },
                                                                                                            "type": "array"
                                                                                                        }
                                                                                                    },
                                                                                                    "type": "object"
                                                                                                },
                                                                                                "username": {
                                                                                                    "description": "The username.",
                                                                                                    "type": "string"
                                                                                                }
                                                                                            },
                                                                                            "type": "object"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                },
                                                                                "scriptActions": {
                                                                                    "description": "The list of script actions on the role.",
                                                                                    "items": {
                                                                                        "description": "Describes a script action on role on the cluster.",
                                                                                        "properties": {
                                                                                            "name": {
                                                                                                "description": "The name of the script action.",
                                                                                                "type": "string"
                                                                                            },
                                                                                            "parameters": {
                                                                                                "description": "The parameters for the script provided.",
                                                                                                "type": "string"
                                                                                            },
                                                                                            "uri": {
                                                                                                "description": "The URI to the script.",
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "required": [
                                                                                            "name",
                                                                                            "uri",
                                                                                            "parameters"
                                                                                        ],
                                                                                        "type": "object"
                                                                                    },
                                                                                    "type": "array"
                                                                                },
                                                                                "targetInstanceCount": {
                                                                                    "description": "The instance count of the cluster.",
                                                                                    "format": "int32",
                                                                                    "type": "integer"
                                                                                },
                                                                                "virtualNetworkProfile": {
                                                                                    "description": "The virtual network profile.",
                                                                                    "properties": {
                                                                                        "id": {
                                                                                            "description": "The ID of the virtual network.",
                                                                                            "type": "string"
                                                                                        },
                                                                                        "subnet": {
                                                                                            "description": "The name of the subnet.",
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "type": "object"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "connectivityEndpoints": {
                                                                "description": "The list of connectivity endpoints.",
                                                                "items": {
                                                                    "description": "The connectivity properties",
                                                                    "properties": {
                                                                        "location": {
                                                                            "description": "The location of the endpoint.",
                                                                            "type": "string"
                                                                        },
                                                                        "name": {
                                                                            "description": "The name of the endpoint.",
                                                                            "type": "string"
                                                                        },
                                                                        "port": {
                                                                            "description": "The port to connect to.",
                                                                            "format": "int32",
                                                                            "type": "integer"
                                                                        },
                                                                        "protocol": {
                                                                            "description": "The protocol of the endpoint.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "createdDate": {
                                                                "description": "The date on which the cluster was created.",
                                                                "type": "string"
                                                            },
                                                            "diskEncryptionProperties": {
                                                                "description": "The disk encryption properties.",
                                                                "properties": {
                                                                    "encryptionAlgorithm": {
                                                                        "description": "Algorithm identifier for encryption, default RSA-OAEP.",
                                                                        "enum": [
                                                                            "RSA-OAEP",
                                                                            "RSA-OAEP-256",
                                                                            "RSA1_5"
                                                                        ],
                                                                        "type": "string",
                                                                        "x-ms-enum": {
                                                                            "modelAsString": true,
                                                                            "name": "JsonWebKeyEncryptionAlgorithm"
                                                                        }
                                                                    },
                                                                    "keyName": {
                                                                        "description": "Key name that is used for enabling disk encryption.",
                                                                        "type": "string"
                                                                    },
                                                                    "keyVersion": {
                                                                        "description": "Specific key version that is used for enabling disk encryption.",
                                                                        "type": "string"
                                                                    },
                                                                    "msiResourceId": {
                                                                        "description": "Resource ID of Managed Identity that is used to access the key vault.",
                                                                        "type": "string"
                                                                    },
                                                                    "vaultUri": {
                                                                        "description": "Base key vault URI where the customers key is located eg. https://myvault.vault.azure.net",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "errors": {
                                                                "description": "The list of errors.",
                                                                "items": {
                                                                    "description": "The error message associated with the cluster creation.",
                                                                    "properties": {
                                                                        "code": {
[...]
